

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/organic-tiles.png");
}

.header {
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 3px solid #ccc;
  height: 100px;
  position: relative;
  width: 100%;
}

.h-width {
  width: 960px;
}

.header h1 {
  font-size: 30px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  height: 100px;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
  margin: 0;
  position: relative;
}

.header nav {
  float: right;
  width: 400px;
  padding: 25px 0 25px 50px;
  margin-top: 8px;
  position: sticky;
  text-align: right;
}

.header nav ul {
  list-style: none;
}

.header nav ul li {
  display: inline;
  margin-left: 10px;
  color: #778899;
}

.wrap {
  width: 88%;
  margin-left: auto;
}


section {
background-color: #ffffff;
border: solid #dddddd 1px;
max-width: 650px;
margin: 0;
font-size: 100%;
margin-bottom: 50px;
padding: 16.72px 30px 30px 30px;
float: left;
display: block;
font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
vertical-align: baseline;

}

#aboutme  {
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 10px 0;
  border-bottom: 3px solid #cccccc;
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}


img.wrap {
  float: left;
  position: relative;
  padding: 10px 10px 10px 0;
}

p.big {
  left: 20px;
  display: block;
  position: relative;
  line-height: 2.5;
}

aside {
  float: right;
  max-width: 270px;
  background-color: white;
  border: #dddddd 0.5px solid;
  padding: 16.92px, 30px, 30px, 30px;
  display: block;
  vertical-align: baseline;
  position: relative;
  bottom: 455px;
  right: 175px;
  margin: 0;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.icons {
  max-height: 50px;
  align-content: center;
}

.content{
  padding: 20px 10 0 0;
  clear: both;
  margin: 0;
  border: 0;
  display: block;
}

.connect {
  color: #4aaaa5;
  border-bottom: #dddddd 1px solid;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  vertical-align: baseline;
}

.footer {
  background-color: #666666;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  clear: both;
  border-top: solid #4aaaa5 5px;
  text-align: center;
  align: center;
  color: white;
  font-size: 10px;
  vertical-align: baseline;
  display: block;
}
